/* Principal */

.divMainContainer{
    width: 100%;
    height: 100%;
}

/* Prediletos */

.divPrediletosMainContainer{
    margin-bottom: 2%;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center ;
}
.TitlePrediletos{
    padding-left: 15%;
    color: #ffffff;
}

.NameGamePrediletos{
    position: absolute;
    color: #fc6b03;
    margin-bottom: 390px;
    left: 21%;
}

.divPrediletosUmSubContainer{
    width: 70%;
    height: 420px;
    background-color: #262626;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    padding-inline: 1rem;
}

/* Torneio */

.torneioContainer {
    display: flex;
    align-items: center;
    flex-direction: row;
    /* margin-left: 8rem; */
    overflow-x: auto;
    width: 100%;
    scroll-behavior: smooth;
}
.torneioContainer::-webkit-scrollbar {
    /* display: none; */
    width: 5px;
    height: 8px;
    background-color: #101010;
    border-radius: 6px;
}
.torneioContainer::-webkit-scrollbar-thumb {
    /* display: none; */
    background-color: #fc6b03;
    border-radius: 6px;
}

.Torneio{
    flex: none;
    width: 94.3%;
    height: 80%;
    background-size: cover;
    align-items: center;
    justify-content: center;
    margin: 20px;
    border-radius: 10px;
    -webkit-box-shadow: inset -11px -7px 36px 0px #000000; 
    box-shadow: inset -11px -7px 36px 0px #000000; 
    transition: 0.5s;
    margin-top: 50px;
    border: 3px solid #fc6b03;
}
.TorneioH1{
    color: #ffffff;
    margin-top: 13rem;
    /* padding-top: 80px; */
    padding-left: 1.5rem;
}
.containerTorneioSetas {
    display: flex;
    flex-direction: row;
    margin-top: .5rem;
}
.torneioSetasMainContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    
}
.buttonSeta {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    color: #fff;
    padding: .5rem;
    width: 3rem;
    height: 3rem;
    background-color: #171717;
    border: none;
    border-radius: 5px;
    font-size:25px;
    transition: 0.4s;
    margin-inline: 1rem ;
}
.buttonSeta:hover {
    cursor: pointer;
    background-color: #303030;
}

.Torneio:hover{
    /* padding-top: 5px;
    padding-bottom: 5px; */
    transition: 0.4s;
    cursor: pointer;
}


/* Prediletos Dois */

.divPrediletosDoisSubContainer{
    width: 70%;
    height: 240px;
    background-color: #262626;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    margin-top: 30px;
}


/* Responsividade */

@media only screen and (max-width: 768px) {
    .Torneio{
        width: 80%;
    }
    .divPrediletosUmSubContainer{
        width: 80%;
    }

   
}