.divChaves{
    width: 100%;
    background-color: #212121;
}
.divSubChaves{
    width: 100%;
    height: 120vh;
    background-color: #212121;
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
}
.divSubChavesDois{
    width: 80%;
    height: 100vh;
    background-color: #121212;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    border: 2px solid #fc6b03;
    color: #fc6b03;
}

