.divUsuarioMainContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #121212;
}

.divUsuarioSubMainContainer{

    background-color: #121212;
    display: flex;
    align-items: center;
    width: 100%;
    height: 100vh;
    
    flex-wrap: wrap;
    justify-content: space-around;
}
.divUsuarioSubMainContainer button{
    position: absolute;
    top: 140px;
    left: 83.5%;
    background-color: #10653E;
	border-radius: 100px;
	height: 5%;
	width: 7%;
	transition: 0.5s;
	border: 1px transparent solid;
	font-size: 16px;
    color: white;
}
.divUsuarioSubMainContainer button:hover{
    border: 2px solid #fc6b03;
	cursor: pointer;
	transition: 0.5s;
}
/* Fundo */
.divFundoMainContainer{
    width: 100%;
    height: 35%;
    margin-bottom: 5.5%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-image: url(components/assets/CastelolAnimado.jpg);
    border-bottom: 2px solid #fc6b03;
    -webkit-box-shadow: inset -11px -7px 36px 0px #000000; 
    box-shadow: inset -11px -7px 36px 0px #000000; 
}
.divFundoImg{
    width: 30px;
    position: absolute;
    height: 30px;
    top: 210px;
    left: 71%;
    border-radius: 100rem;
    padding: 4px;
    background-image: url(components/assets/unknown2.png);
    background-size: cover;
    transition: 0.5s;
    
}
.divFundoImg:hover{
    background-image: url(components/assets/unknown3.png);
    transition: 0.5s;
    cursor: pointer;
}

.divFundoMainContainer h1{
    position: absolute;
    top: 56%;
    left: 110%;
    color: #fc6b03;
}


.divImgFundoMainContainer{
    background-color: rgb(198, 103, 103);
    border-radius: 100rem;
    left: 3%;
    width: 10vw;
    height: 10vw;
    border: 2px solid #fc6b03;
    background-image: url(components/assets/imgperfil.png);
    background-size: cover;
}

.divContainerFundoMainContainer{
    position: absolute;
    left: 8%;
    top: 20%;
}

/* JogosFav */

.divJogosFavMainContainer{
    width: 40%;
    height: 25%;
    border-radius: 15px;
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    align-items: center;
    background-color: #121212;
    border: 2px solid #fc6b03
}

.divJogosFavoritosSubContainer{
    height: 80%;
    width: 15%;
    background-color: white;
    border-radius: 10px;
    margin: 15px;
    background-size: cover;
    background-image: url(components/assets/transferir.png);
    transition: 0.5s;
    border: 2px solid #fc6b03;
    -webkit-box-shadow: inset -11px -7px 36px 0px #000000; 
    box-shadow: inset -11px -7px 36px 0px #000000; 
}
.divJogosFavoritosSubContainer:hover{
    padding: 10px;
    transition: 0.5s;
    cursor: pointer;
}

/* Descrição */

.divDescricaoMainContainer{
    width: 40%;
    height: 25%;
    border-radius: 15px;
    background-color: #121212;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid #fc6b03;
}


.divDescricaoMainContainer textarea{
    resize: none;
    width: 92%;
    height: 75%;
    border-radius: 10px;
    border: none;
    padding-left: 10px;
    padding-top: 10px;
}
.divDescricaoImg{
    width: 30px;
    position: absolute;
    height: 30px;
    top: 421px;
    left: 41%;
    border-radius: 200px;
    padding: 4px;
    background-image: url(components/assets/unknown2.png);
    background-size: cover;
    transition: 0.5s
}
.divDescricaoImg:hover{
    background-image: url(components/assets/unknown3.png);
    transition: 0.5s;
    cursor: pointer;
}

.divDescricaoMainContainer textarea:focus{
    outline: none;
}

/* Conquistas */

.divConquistasMainContainer{
    width: 40%;
    height: 35%;
    border-radius: 15px;
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    align-items: center;
    margin-top: 20px;
    background-color: #121212;
    border: 2px solid #fc6b03
}
.divConquistasSubContainer{
    height: 80%;
    width: 30%;
    background-color: white;
    border-radius: 10px;
    margin: 15px;
    background-size: cover;
    background-image: url(components/assets/transferir.png);
    transition: 0.5s;
    border: 2px solid #fc6b03;
    -webkit-box-shadow: inset -11px -7px 36px 0px #000000; 
    box-shadow: inset -11px -7px 36px 0px #000000;
}
.divConquistasSubContainer:hover{
    padding: 10px;
    transition: 0.5s;
    cursor: pointer;
}
