.divUsuarioDMainContainer{
    background-color: #121212;

    color: white;
}

.divUsuarioSubMainContainer{
    border-left: 1px solid #fc6b03;
    background-color: #121212;
    display: flex;
    flex-direction: column;

}

.divConquistasSubContainer:hover{
    padding: 10px;
    transition: 0.5s;
    cursor: pointer;
}

.UserNameOnProfile, .TeamsOnProfile{
    color: #fff;
    display: flex;
    align-items: center;
    align-content: center;
    margin-left: 2%;
}

.imgUsuarioGearEditing{
    background-image: url('./components/assets/gear.png');
    background-size: cover;
	height: 30px;
	width: 30px;
	transition: 0.5s ease-in-out;
    margin-right: 10px;
	border: 1px transparent solid;
    color: white;

}

.imgUsuarioGearEditing:hover{
    background-image: url('./components/assets/gear_hover.png');
    background-size: cover;
	height: 30px;
	width: 30px;
    cursor: pointer;
	transition: 0.5s ease-in-out;
	border: 1px transparent solid;
    color: white;

}

.perfilNavigation{
    display: flex;
    color: white;
    align-items: center;
    justify-content: space-around;
    border-bottom: #f2f2f2 1px solid;
    transition: 0.5s;
    padding-top: 0.5%;
    width: 100%;
    background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(0,212,255,0) 100%);    

}

.perfilConfig{

    display: flex;
    flex-direction: row;
    padding-left: 10px;
    padding-right: 10px;
    align-content: center;

    transition: 0.5s;
    font-size: 20px;
    font-weight: 200;
}

.perfilConfig:hover{

    display: flex;
    flex-direction: row;

    align-content: center;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: 0.5s;
    background: linear-gradient(0deg, rgb(105, 105, 105) 0%, rgba(0,212,255,0) 100%);
}

.perfilActive{
    background: linear-gradient(0deg, rgb(80, 45, 0) 0%, rgba(80, 36, 0,0) 100%);
}

.divUsuarioComplexContainer{
    display: flex;
    flex-direction: row;
}
.divRightUserInfoCompo{
    position: relative;
    /* background-color: red; */
    border-bottom: 1px solid #fc6b03;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    padding-top: 2%;

}

.divRightSubMainContainerCompo{
    position: relative;
    /* background-color: red; */
    border-bottom: 1px solid #fc6b03;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 0px;
    padding-top: 2%;
    padding-bottom: 2%;
}

.divRightSubMainContainerCompo div{
    display: flex;
    flex-direction: column;
    width: 60%;
}

.divRightSubMainContainerCompo div label{
    background-color: #202020;
    margin-top: 4px;
    margin-bottom: 4px;
    padding: 4px;
    display: flex;
    align-items: center;
    position: relative;
    gap: 5px;
}

.divRightSubMainContainerCompo div label img{
    position: absolute;
    right: 0;
}

.divRightSubMainContainerCompo div label img:hover{
    cursor: pointer;
}

.UserPlan{
    position: absolute;
    transform: rotate(-90deg);
    right: -15%;
    color: #474747;
}

.divRightMainComplexoContainerCompo{
    width: 40vw;
    border-right: 1px solid #fc6b03;
}

.divUsuarioSubMainContainerGeneral{
    width: 100%;
}

.imgUserprofileIcon{
    border: 1px solid #fc6b03;
    width: 100px;
    height: 100px;
    background-size: contain;
    border-radius: 100px;
}

.textareaUsuarioSubMainContainerCompo{
    width: 100%;
    overflow: hidden;
}

.w-md-editor{
    border-bottom: 1px solid #fc6b03 !important;
    border-bottom-color: #fc6b03 !important;
}

.w-md-editor-toolbar{
    border-bottom: 1px solid #fc6b03 !important;
    border-radius: 0px !important;
}

.wrapper{
    border-bottom-color: #fc6b03 !important;
    box-shadow: 0px 1px 0px 0px #fc6b03 !important;
    border-bottom: 1px solid #fc6b03 !important;

    padding: 2%;
    background-color: #121212 !important;
    border: 1px solid transparent !important;
    color: white !important;

}

.wrapper img{
    width: 25%;
    height: 25%;
    object-fit: contain;
}

.markdownShower img{
    width: 25%;
    height: 25%;
}

.wmde-markdown{
    background-color: transparent !important;
    color: white !important;
}

.wmde-markdown pre > code{
    color: black
}

.divmdEditor{
    width: 100%;
    min-width: 100%;
}

.divmdViwer{
    height: 46.5vh;
    overflow-y: scroll;
    border-bottom: 1px solid #fc6b03;
    position: relative;
}

.divmdViewer ::-webkit-scrollbar{
    display: none;
}

.divContainerUsuarioContent{
    width: 100%;
}

.editMarkdownButton{
    position: absolute;
    top: 85%;
    right: 2%;
    width: 12%;
    height: 30px;
    margin: 20px;
    background-color: #272727;
    border-radius: 20px;
    border: 2px solid #fc6b03;
    color: #fc6b03;
    font-size: 16px;
    transition: 0.5s;
    z-index: 99;
    display: flex;
    align-items: center;
    justify-content: center;
}

.editMarkdownButton:hover{
    border: 2px solid rgb(224, 219, 219);
    transition: 0.5s;
    color: rgb(224, 219, 219);
    cursor: pointer;
}