.divUsuarioDMainContainer{
    background-color: #121212;
}

.divUsuarioMainContainer{
    height: 100%;
}

.divUsuarioSubMainContainer{
    height: 100%;
    background-color: #121212;
    display: flex;
    flex-direction: column;

}

.divUsuarioSubMainContainerCompo{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
}

.divUsuarioSubMainContainer button{
    position: absolute;
    top: 140px;
    left: 83.5%;
    background-color: #10653E;
	border-radius: 100px;
	height: 5%;
	width: 7%;
	transition: 0.5s;
	border: 1px transparent solid;
	font-size: 16px;
    color: white;
}
.divUsuarioSubMainContainer button:hover{
    border: 1px solid #fc6b03;
	cursor: pointer;
	transition: 0.5s;
}
/* Fundo */
.divFundoMainContainer{
    width: 100%;
    height: 35vh;
    margin-bottom: 5.5%;

    background-image: url(components/assets/CastelolAnimado.jpg);
    border-bottom: 2px solid #fc6b03;
    -webkit-box-shadow: inset -11px -7px 36px 0px #000000; 
    box-shadow: inset -11px -7px 36px 0px #000000; 
}
.divFundoImg{
    width: 20px;
    position: absolute;
    height: 20px;
    left: 110%;
    top: 25%;
    border-radius: 100rem;
    padding: 4px;
    background-image: url(components/assets/unknown2.png);
    background-size: cover;
    transition: 0.5s;
    
}
.divFundoImg:hover{
    background-image: url(components/assets/unknown3.png);
    transition: 0.5s;
    cursor: pointer;
}

.divFundoMainContainer h1{
    position: absolute;
    top: 56%;
    left: 110%;
    color: #fc6b03;
}


.divImgFundoMainContainer{
    background-color: rgb(198, 103, 103);
    border-radius: 100rem;
    left: 3%;
    width: 10vw;
    height: 10vw;
    border: 2px solid #fc6b03;
    background-image: url(components/assets/imgperfil.png);
    background-size: cover;
}

.divContainerFundoMainContainer{
    position: absolute;
    left: 8%;
    top: 20%;
}

/* JogosFav */

.divJogosFavMainContainerD{
    width: 55%;
    height: 25.5vh;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    background-color: #121212;
    border: 1px solid #fc6b03;
    padding: 2%;
}

.divJogosFavMainContainerD h1{
    color: #fc6b03;
    margin-top: -1%;
}

.divJogosFavMainContainer{
    height: 90%;
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    align-items: center;

}

.divJogosFavoritosSubContainer{
    height: 80%;
    width: 100%;
    background-color: white;
    border-radius: 10px;
    margin: 15px;
    background-size: contain;
    background-image: url(components/assets/transferir.png);
    transition: 0.5s;
    border: 1px solid #fc6b03;
    -webkit-box-shadow: inset -11px -7px 36px 0px #000000; 
    box-shadow: inset -11px -7px 36px 0px #000000; 
}
.divJogosFavoritosSubContainer:hover{
    padding: 10px;
    transition: 0.5s;
    cursor: pointer;
}

/* Descrição */

.divDescricaoMainContainer{
    width: 40%;
    height: 30vh;

    background-color: #121212;
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 2px solid #fc6b03; */
}

.divBiografia{
    height: 100%;
    width: 100%;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    border: 1px solid #fc6b03;
    padding: 2%;
}

.divBiografia textarea{
    background-color: transparent;
    color: white;
    font-size: 16px;
    font-family: SegoeUI-VF ;
}

.divBiografia h1{
    color: #fc6b03;
}


.divDescricaoMainContainer textarea{
    resize: none;
    width: 92%;
    height: 75%;
    border-radius: 10px;
    border: none;
    padding-left: 10px;
    padding-top: 10px;
}
.divDescricaoImg{
    width: 30px;
    height: 30px;
    margin-left: 100%;

    border-radius: 200px;
    padding: 4px;
    background-image: url(components/assets/unknown2.png);
    background-size: cover;
    transition: 0.5s
}
.divDescricaoImg:hover{
    background-image: url(components/assets/unknown3.png);
    transition: 0.5s;
    cursor: pointer;
}

.divDescricaoMainContainer textarea:focus{
    outline: none;
}

/* Conquistas */

.divConquistasMainContainerD{
    width: 80%;
    height: 30vh;
    margin-left: 10%;
    border-radius: 15px;
    margin-top: 20px;
    background-color: #121212;
    border: 1px solid #fc6b03;
    padding: 1%;
}

.divConquistasMainContainerD h1{
    margin: 0;
    color: #fc6b03;
    font-weight: bolder;
}

.divConquistasMainContainer{
    height: 100%;
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    align-items: center;
}
.divConquistasSubContainer{
    height: 70%;
    width: 30%;
    background-color: white;
    border-radius: 10px;
    margin: 15px;
    background-size: contain;
    background-image: url(components/assets/transferir.png);
    transition: 0.5s;
    border: 1px solid #fc6b03;
    -webkit-box-shadow: inset -11px -7px 36px 0px #000000; 
    box-shadow: inset -11px -7px 36px 0px #000000;
}
.divConquistasSubContainer:hover{
    padding: 10px;
    transition: 0.5s;
    cursor: pointer;
}
