.divMainContainer {
    color: #fff;
}

.divDropdown{
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.divDropdown div{
    width: 60%;
}

.divMainContainerSobre .divFundoDropdown{
    width: 100%;

}

.divConteudo {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 10%;
}
.divImagens {
    width: 26vw;
    height: 26vw;
    background-image: url('./assets/time.png');
    background-size: contain;
    background-repeat: no-repeat;
}

.divTextoSobre {
    width: 40%;
    padding-left: 2%;
    padding-right: 5%;
    align-items: center;
    text-align: center;
}


