.divLoginMainContainer{
    width: 100vw;
    height: 100vh;
    z-index: 3;
    background-color: #121212;
    position: absolute;
    padding-top: 0;
    display: flex;
    flex-direction: row;
    overflow: hidden;
}

.divLoginLeftContainer {
    width: 50%;
    height: 80%;
    display: flex;
    flex-direction: column;
}

.divLoginLeftContainer img{
    width: 30vh;
    height: 30vh;
    z-index: 99;
    padding-left: 3.4%;
    position: absolute;
}

.divLoginLeftContainer h1{
    color:#fc6b03;
    font-size: 7vh;
    padding-left: 7%;
    padding-right: 30%;
    padding-top: 21%;
    
}
.divLoginLeftContainer p{
    color: #fff;
    font-size: 3.5vh;
    padding-left: 7%;
    padding-right: 40%;
}

.divLoginRightContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    background: url('./assets/img_background.png');
    background-size: cover;
}

.divCadastrarRightSubContaner{
    display: flex;
    flex-direction: column;
    width: 60%;
    background-color: #121212;
    justify-content: center;
    height: 90%;
    border-radius: 10%;
    align-items: center;
}

.divCadastrarRightSubContaner h1{
    color:#fc6b03;
    font-size: 7vh;
    position: relative;
}
.p{
    color:#fff;
    font-size: 3vh;
    margin-top: -10px;
}

.divCadastrarRightSubContaner input{
    width: 70%;
    height: 7%;
    margin: 10px;
    padding-left: 20px;
    border-radius: 20px;
    border: 2px solid #fc6b03;
    font-size: 16px;
}

.divCadastrarRightSubContaner button{
    width: 75%;
    height: 7%;
    margin: 10px;
    background-color: #272727;
    border-radius: 20px;
    border: 2px solid #fc6b03;
    color: #fc6b03;
    font-size: 16px;
    transition: 0.5s;
    z-index: 99;
}


.divCadastrarRightSubContaner button:hover{
    border: 2px solid rgb(224, 219, 219);
    transition: 0.5s;
    color: rgb(224, 219, 219);
    cursor: pointer;
}

.divCadastrarRightSubContaner a {
    margin: -10px;
    color:#fff;
    font-size: 3vh;
}

.RedesCadastro img{
    width: 8vh;
    height: 8vh;
    margin-left: 2%;
}
.RedesCadastro{
    width: 100%;
    display: flex;
    margin: 5%;
    gap: 95px;
    margin-right: 5%;
}


@media only screen and (max-width: 768px) {
    .divLoginLeftContainer{
        display: none;
    }
    .divCadastrarRightSubContaner{
        width: 90%;
    }
}