@font-face {
  font-family: SegoeUI-VF;
  src: url('./fonts/SegoeUI-VF.ttf');
}

body {
  margin: 0;
  font-family: SegoeUI-VF;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
